.ImageDashboardWrapper {
  width: 75%;
  background-color: rgb(12, 97, 70);
  display: flex;
  justify-content: flex-end;

  .ImageDashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
