@mixin fadeIn {
  opacity: 1;
  animation-name: fadeInOpacityDialog;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;

  @keyframes fadeInOpacityDialog {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.DialogWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 97, 97, 0.6);
  z-index: 100;

  @include fadeIn;

  .Dialog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 97, 70);
    min-width: 60%;
    min-height: 60%;

    .CloseButton {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
